~*.*
*.pdf
*.xar
*.xlsx
*.xls
*.docx

temp/

count/arhiv/
count/count-sessions/
count/count-speaker/
count/count-toc/
count/count-topic/
count/countStage/
count/countTime/
ner/
pravni_red/
timeline-master/
words/
zacasno/